.container {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;

  width: 400px;
}

.suggestionItem {
  font-size: 13px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: whitesmoke;
}
